.category-boxes,
.category-boxes-with-topics {
  grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));

  .category-box {
    @include custom-card;
    .category-box-inner {
      border: none;
    }
  }

  .category-box {
    border-top: 1px solid transparent;
    border-right: 1px solid transparent;
    border-bottom: 1px solid transparent;
    border-left: 6px solid var(--category-color);

    .category-logo.aspect-image img {
      display: block;
      width: 40px;
      height: 40px;
      margin: 0 auto 1em auto;
      align-items: center;
    }

    @supports (--custom: property) {
      .category-logo.aspect-image img {
        --height: 40px;
        width: calc(var(--height) * var(--aspect-ratio));
        max-width: 100%;
      }
    }

    .discourse-no-touch & {
      &:hover {
        border-top: 1px solid var(--redditish-border-highlight-color);
        border-right: 1px solid var(--redditish-border-highlight-color);
        border-bottom: 1px solid var(--redditish-border-highlight-color);
        border-left: 6px solid var(--category-color);
      }
    }

    .subcategories .subcategory {
      margin-bottom: 0.25em;
    }
  }
}
