.category-boxes,
.category-boxes-with-topics {
  grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));

  .category-box {
    @include custom-card;
    .category-box-inner {
      border: none;
    }
  }

  .category-box {
    border-top: 1px solid transparent;
    border-right: 1px solid transparent;
    border-bottom: 1px solid transparent;
    border-left: 6px solid var(--category-color);

    .category-logo {
      margin-left: 50px;
      margin-right: auto;
      margin-top: 20em;
      margin-bottom: auto;
    }
    .category-logo.aspect-image img {
      display: block;
      width: 40px;
      height: 40px;      
    }

    @supports (--custom: property) {
      .category-logo.aspect-image img {
        --height: 50px;
        height: var(--height);
        width: calc(var(--height) * var(--aspect-ratio));
        max-width: 100%;
        }
    }
  }
}
