  .category-boxes,
  .category-boxes-with-topics {
    display: grid;
    gap: 1.5em;
    margin-top: 1em;
    margin-bottom: 1em;
    width: 100%;
  
    .category-box {
      position: relative;
      display: flex;
      flex-direction: row;
      align-content: flex-start;
      box-sizing: border-box;
      border-width: 0;
      border-left-width: 6px;
      border-style: solid;
      border-color: var(--category-badge-color, var(--primary-low));
  
      .mobile-view & {
        width: 100%;
      }
  
      .parent-box-link {
        // This avoids an issue with nested links by layering links instead
        &:before {
          content: "";
          position: absolute;
          z-index: 0;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
        }
      }
  
      .category-logo.aspect-image img {
        display: block;
        width: auto;
        height: 25px;
        margin: 0 auto 1em auto;
      }
  
      @supports (--custom: property) {
        .category-logo.aspect-image img {
          --height: 25px;
          height: var(--height);
          width: calc(var(--height) * var(--aspect-ratio));
          max-width: 100%;
        }
      }
    }
  }