  
  .category-boxes,
  .category-boxes-with-topics {
    display: grid;
    gap: 1.5em;
    margin-top: 1em;
    margin-bottom: 1em;
    width: 100%;
  
    .category-box {
      position: relative;
      display: flex;
      flex-direction: row;
      align-content: flex-start;
      box-sizing: border-box;
      border-width: 0;
      border-left-width: 6px;
      border-style: solid;
      border-color: var(--category-badge-color, var(--primary-low));
  
      .mobile-view & {
        width: 100%;
      }
  
      .parent-box-link {
        // This avoids an issue with nested links by layering links instead
        &:before {
          content: "";
          position: absolute;
          z-index: 0;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
        }
      }
  
      .category-logo.aspect-image img {
        display: block;
        width: 25px;
        height: 25px;
        margin: 0 auto 1em auto;
      }
  
      @supports (--custom: property) {
        .category-logo.aspect-image img {
        //   --height: 40px;
          height: 25px;
          width: calc(25px * var(--aspect-ratio));
          max-width: 100%;
        }
      }
    }
  
    .category-box-inner {
      box-sizing: border-box;
      width: 100%;
      padding: 1em;
      display: flex;
      flex-direction: column;
  
      border-width: 2px;
      border-left-width: 0;
  
      border-style: solid;
      border-color: var(--primary-low);
    }
  
    &.no-logos {
      .category-logo {
        display: none;
      }
    }
  }
  
  .category-boxes {
    grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
    .category-box {
      > a {
        width: 100%;
        padding: 0;
      }
      .category-box-inner {
        padding: 1em;
  
        .category-logo {
          float: none;
          margin: 0;
        }
      }
    }
  
    &.no-logos {
      .category-box .category-box-inner > a {
        padding: 3em 1em;
      }
    }
}