.custom-tag-banner,
.custom-category-banner {
  grid-area: category-banner;
  margin: 0 0 0 -1.5em;
  @media screen and (max-width: 1200px) {
    margin: 0;
  }

  .category-logo.aspect-image {
    float: none;
    margin: 0;
    height: 100px;
  }
  .category-logo.aspect-image img {
    height: 100%;
  }

  &_background {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 12em;

    .category-logo.aspect-image {
      --max-height: 100px;
    }
  }
  &_meta {
    background: var(--primary-very-low);
  }
  &_meta-text {
    height: 6em;
    margin: 0 auto;
    padding: 1em 0 0.25em;
    display: flex;
    justify-content: center;
    align-items: center;
    h1 {
      margin-top: -0.2em; // ocular alignment
      text-align: center;
      padding: 0 0.33em;
    }
    a {
      color: var(--secondary);
    }
  }
}

.custom-tag-banner {
  h1 a {
    color: var(--primary-low);
    font-weight: normal;
    .d-icon {
      font-size: var(--font-down-3);
      color: var(--primary-low-mid);
    }
  }
  &_meta {
    background: var(--primary-high);
  }
}