.search-container {
  @include custom-card;

  .search-advanced .search-info,
  .search-advanced .search-results,
  .search-header {
    padding: 1em 2em;
    background: transparent;
  }

  .search-filters,
  .search-filters .search-advanced-filters {
    background: none;
  }
}

// header search

.floating-search-input .search-banner-inner.wrap .search-menu .results {
  border: none;
}

.search-menu .menu-panel,
.search-menu-container .menu-panel {
  border: 1px solid transparent;
  &:hover {
    border: 1px solid var(--redditish-border-highlight-color);
  }
}
