.tag-sort-options + hr {
  display: none;
}

.all-tag-lists {
  @include custom-card;
  .tags-list {
    margin: 0;
    border: none;
    padding: 0;
  }
}

section.tag-info {
  background: var(--tertiary-low);
  padding: 1em;
  border: none;
  border-radius: 0;
  margin-top: 0;
}

.tags-page {
  #main-outlet {
    display: flex;
    flex-direction: column;
  }
  section.tag-info {
    order: -1;
  }
}
