{{#unless this.category}}
  {{#if this.tag}}
    <div class="custom-tag-banner">
      <div class="custom-tag-banner_meta">
        <div class="custom-tag-banner_meta-text">
          <h1>
            <a href="/tag/{{this.tag}}">
              {{d-icon "tag"}}
              {{this.tag}}
            </a>
          </h1>
        </div>
      </div>
    </div>
  {{/if}}
{{/unless}}