{{#if this.isTopRoute}}
  <div class="custom-right-sidebar_welcome">
    <h2>{{theme-i18n "top_route_welcome"}}</h2>
    <p>
      {{html-safe (theme-i18n "top_route_description")}}
    </p>
    {{#if (and this.currentUser this.currentUser.can_create_topic)}}
      <DButton
        @class="btn-primary"
        @id="custom-create-topic"
        @action={{action "customCreateTopic"}}
        @label="topic.create"
      />
    {{/if}}
  </div>
  <div class="custom-right-sidebar_recent">
    <SidebarLatestTopics />
  </div>
{{/if}}