$redditish-light-bg: #dae0e6;
$redditish-background-color: dark-light-choose(
  $redditish-light-bg,
  $header_background
);

$redditish-border-color-light: $primary-low-mid;
$redditish-border-color-dark: $primary-very-low;

$redditish-border-highlight-color-light: $primary-600;
$redditish-border-highlight-color-dark: $primary-300;

$redditish-border-color: $primary-low !default;
$redditish-border-highlight-color: $primary-200 !default;

@if is-light-color-scheme() {
  $redditish-border-color: $redditish-border-color-light;
} @else {
  $redditish-border-color: $redditish-border-color-dark;
}

@if is-light-color-scheme() {
  $redditish-border-highlight-color: $redditish-border-highlight-color-light;
} @else {
  $redditish-border-highlight-color: $redditish-border-highlight-color-dark;
}

:root {
  --redditish-bg-color: #{$redditish-background-color};
  --redditish-border-color: #{$redditish-border-color};
  --redditish-border-highlight-color: #{$redditish-border-highlight-color};
}
